@page
@model Koala.Pages.Administration.Accounts.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container-fluid p-3">
    <h1>Edit</h1>

    <h4>Account</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="User.Id" />
                <div class="form-group">
                    <label asp-for="User.Login" class="control-label"></label>
                    <input asp-for="User.Login" class="form-control" />
                    <span asp-validation-for="User.Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.HashedPassword" class="control-label"></label>
                    <input asp-for="User.HashedPassword" class="form-control" />
                    <span asp-validation-for="User.HashedPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Name" class="control-label"></label>
                    <input asp-for="User.Name" class="form-control" />
                    <span asp-validation-for="User.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.IsAdmin" class="control-label"></label>
                    <input asp-for="User.IsAdmin" class="form-control" />
                    <span asp-validation-for="User.IsAdmin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Status" class="control-label"></label>
                    <input asp-for="User.Status" class="form-control" />
                    <span asp-validation-for="User.Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.LastLoginOn" class="control-label"></label>
                    <input asp-for="User.LastLoginOn" class="form-control" />
                    <span asp-validation-for="User.LastLoginOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.CreateOn" class="control-label"></label>
                    <input asp-for="User.CreateOn" class="form-control" />
                    <span asp-validation-for="User.CreateOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.UpdateOn" class="control-label"></label>
                    <input asp-for="User.UpdateOn" class="form-control" />
                    <span asp-validation-for="User.UpdateOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Type" class="control-label"></label>
                    <input asp-for="User.Type" class="form-control" />
                    <span asp-validation-for="User.Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Salt" class="control-label"></label>
                    <input asp-for="User.Salt" class="form-control" />
                    <span asp-validation-for="User.Salt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.MustChangePasswd" class="control-label"></label>
                    <input asp-for="User.MustChangePasswd" class="form-control" />
                    <span asp-validation-for="User.MustChangePasswd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.HospitalId" class="control-label"></label>
                    <input asp-for="User.HospitalId" class="form-control" />
                    <span asp-validation-for="User.HospitalId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>

</div>