@page
@model Koala.Pages.Administration.Hospitals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Hospital</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Hospital.Id" />
            <div class="form-group">
                <label asp-for="Hospital.Name" class="control-label"></label>
                <input asp-for="Hospital.Name" class="form-control" />
                <span asp-validation-for="Hospital.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.ShortName" class="control-label"></label>
                <input asp-for="Hospital.ShortName" class="form-control" />
                <span asp-validation-for="Hospital.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.ManagerId" class="control-label"></label>
                <input asp-for="Hospital.ManagerId" class="form-control" />
                <span asp-validation-for="Hospital.ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.LogoUrl" class="control-label"></label>
                <input asp-for="Hospital.LogoUrl" class="form-control" />
                <span asp-validation-for="Hospital.LogoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.BackgroundUrl" class="control-label"></label>
                <input asp-for="Hospital.BackgroundUrl" class="form-control" />
                <span asp-validation-for="Hospital.BackgroundUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.LicenceCode" class="control-label"></label>
                <input asp-for="Hospital.LicenceCode" class="form-control" />
                <span asp-validation-for="Hospital.LicenceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.LicenceTo" class="control-label"></label>
                <input asp-for="Hospital.LicenceTo" class="form-control" />
                <span asp-validation-for="Hospital.LicenceTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.ParentId" class="control-label"></label>
                <input asp-for="Hospital.ParentId" class="form-control" />
                <span asp-validation-for="Hospital.ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.GroupId" class="control-label"></label>
                <input asp-for="Hospital.GroupId" class="form-control" />
                <span asp-validation-for="Hospital.GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.CreateOn" class="control-label"></label>
                <input asp-for="Hospital.CreateOn" class="form-control" />
                <span asp-validation-for="Hospital.CreateOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.UpdateOn" class="control-label"></label>
                <input asp-for="Hospital.UpdateOn" class="form-control" />
                <span asp-validation-for="Hospital.UpdateOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.IsRoot" class="control-label"></label>
                <input asp-for="Hospital.IsRoot" class="form-control" />
                <span asp-validation-for="Hospital.IsRoot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.Status" class="control-label"></label>
                <input asp-for="Hospital.Status" class="form-control" />
                <span asp-validation-for="Hospital.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospital.Position" class="control-label"></label>
                <input asp-for="Hospital.Position" class="form-control" />
                <span asp-validation-for="Hospital.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

