@page
@model Koala.Pages.Menus.EditModel

@{
    Layout = "/Pages/Shared/_MenuLayout.cshtml";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Menu.Id" />
            <div class="form-group">
                <label asp-for="Menu.ParentId" class="control-label"></label>
                <input asp-for="Menu.ParentId" class="form-control" />
                <span asp-validation-for="Menu.ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Name" class="control-label"></label>
                <input asp-for="Menu.Name" class="form-control" />
                <span asp-validation-for="Menu.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Area" class="control-label"></label>
                <select asp-for="Menu.Area" class="form-select">
                    <option value="Administration">Administration</option>
                    <option value="Client">Client</option>
                </select>
                <span asp-validation-for="Menu.Area" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Menu.Class" class="control-label"></label>
                <input asp-for="Menu.Class" class="form-control" />
                <span asp-validation-for="Menu.Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.AspPage" class="control-label"></label>
                <input asp-for="Menu.AspPage" class="form-control" />
                <span asp-validation-for="Menu.AspPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Position" class="control-label"></label>
                <input asp-for="Menu.Position" class="form-control" />
                <span asp-validation-for="Menu.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Unread" class="control-label"></label>
                <input asp-for="Menu.Unread" class="form-control" />
                <span asp-validation-for="Menu.Unread" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Hidden" class="control-label"></label>
                <input asp-for="Menu.Hidden" class="form-control" />
                <span asp-validation-for="Menu.Hidden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Actions" class="control-label"></label>
                <input asp-for="Menu.Actions" class="form-control" />
                <span asp-validation-for="Menu.Actions" class="text-danger"></span>
                <span>View,Refresh,Pass,Refuse,Submit,Cancel,SubmitTo,Barcode</span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary mr-3" />&nbsp;<a class="btn btn-secondary" asp-page="./Index">Back to List</a>
            </div>
            <input type="hidden" asp-for="Referer_url" />
            <input type="hidden" asp-for="Menu.Area" />
        </form>
    </div>
</div>

<div>
    
</div>

